@font-face {
    font-family: 'myh1Font';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');

}

@font-face {
    font-family: 'myh2font';
    src: url('fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'myparagraphfont';
    src: url('fonts/Merriweather-Black.ttf') format('truetype');
}

p {
    font-family: 'myparagraphfont';
}

.font-labelRoboto{
    font-family: 'myh1font';
    font-size: 25px;
    text-decoration: underline;
}

.exampleRoboto {
    font-family: 'myh1Font';
    font-size: 20px;
}

.font-labelOswald {
    font-family: 'myh2font';
    font-size: 25px;
    text-decoration: underline;
}

.exampleOswald {
    font-family: 'myh2font';
    font-size: 20px;
}

.font-labelMerriweather {
    font-family: 'myparagraphfont';
    font-size: 25px;
    text-decoration: underline;
}

.exampleMerriweather {
    font-family: 'myparagraphfont';
    font-size: 20px;
}

h1 {
   font-family: 'myh1font';
}

h2 {
    font-family: 'myh2font';
}

.container {
     border: 2px solid #a2a2a6;
     padding: 10px;
     margin: 10px auto;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto; 
    min-height: 100px;
}

.maroon {
    background-color: #800000;
    color: #fff;
}

.Rosegold {
    background-color: #B76E79;
    color: black;
}

.Navy {
    background-color: Navy;
    color:#fff;
}

.Olive {
    background-color: #808000;
    color: black;
}